In [1]:
pd.Dataframe({'A': [1, 2, 3]}, index=[1])

NameError: name 'pd' is not defined

In [2]:
import pandas as pd

In [3]:
pd.Dataframe({'A': [1, 2, 3]}, index=[1])

AttributeError: module 'pandas' has no attribute 'Dataframe'

In [4]:
pd.DataFrame({'A': [1, 2, 3]}, index=[1])

ValueError: Shape of passed values is (3, 1), indices imply (1, 1)

In [5]:
pd.Dataframe({'A': [1, 2, 3]}, index=[1, 2, 3])

AttributeError: module 'pandas' has no attribute 'Dataframe'

In [6]:
pd.DataFrame({'A': [1, 2, 3]}, index=[1, 2, 3])

   A
1  1
2  2
3  3

In [7]:
pd.DataFrame([[1, 2], [2, 3]], index=['a', 'b'], columns=['A', 'B'])

   A  B
a  1  2
b  2  3

In [8]:
pd.DataFrame([[1, 2], [1, 2], [6, 7]], index=['a', 'b'], columns=['A', 'B', 'C'])

ValueError: 3 columns passed, passed data had 2 columns

In [9]:
pd.DataFrame([[1, 2], [1, 2], [6, 7]], index=['a', 'b', 'c'], columns=['A', 'B'])

   A  B
a  1  2
b  1  2
c  6  7

In [10]:
pd.DataFrame([[1, 2, 3], [1, 2, 3]], index=['a', 'b'], columns=['A', 'B', 'C'])

   A  B  C
a  1  2  3
b  1  2  3

In [11]:
pd.DataFrame([[1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3]], index=[1, 2, 3, 4], columns=['A', 'B', 'C'])

   A  B  C
1  1  2  3
2  1  2  3
3  1  2  3
4  1  2  3

In [12]:
pd.DataFrame([[1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3]], index=[range(1, 6)], columns=['A', 'B', 'C'])

ValueError: Shape of passed values is (5, 3), indices imply (1, 3)

In [13]:
[range(1,6)]

[range(1, 6)]

In [14]:
range(1, 6)

range(1, 6)

In [15]:
list(range(1, 6))

[1, 2, 3, 4, 5]

In [16]:
pd.DataFrame([[1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3]], index=list(range(1, 6)), columns=['A', 'B', 'C'])

   A  B  C
1  1  2  3
2  1  2  3
3  1  2  3
4  1  2  3
5  1  2  3

In [17]:
a = pd.Series({'한국': '서울', '일본': '도쿄', '중국': '북경'})

In [18]:
type(a)

pandas.core.series.Series

In [19]:
print(a)

한국    서울
일본    도쿄
중국    북경
dtype: object

In [20]:
import numpy as np

In [21]:
import random

In [22]:
import string

In [23]:
pd.DataFrame(np.random.randint(0, 100), size =(2, 3))

TypeError: __init__() got an unexpected keyword argument 'size'

In [24]:
pd.DataFrame(np.random.randint(0, 100, size =(2, 3))

SyntaxError: unexpected EOF while parsing (<ipython-input-24-ade89a9f76cf>, line 1)

In [25]:
pd.DataFrame(np.random.randint(0, 100), size =(2, 3)))

SyntaxError: unmatched ')' (<ipython-input-25-8dbcada796eb>, line 1)

In [26]:
pd.DataFrame(np.random.randint(0, 100, size=(2, 3)))

    0   1   2
0  39  35  12
1  17  99  34

In [27]:
(''.join(random.choice(string.ascii_lestters) for i in range(5))) for i in range(10)

SyntaxError: invalid syntax (<ipython-input-27-e87393c81de6>, line 1)

In [28]:
(''.join(random.choice(string.ascii_lestters) for i in range(5)))

AttributeError: module 'string' has no attribute 'ascii_lestters'

In [29]:
(''.join(random.choice(string.ascii_letters) for i in range(5)))

'KKwAT'

In [30]:
(''.join(random.choice(string.ascii_letters) for i in range(5))) for i in range(10)

SyntaxError: invalid syntax (<ipython-input-30-3c1b13b88259>, line 1)

In [31]:
list((''.join(random.choice(string.ascii_letters) for i in range(5))) for i in range(10))

['KstrT',
 'MTAkK',
 'ibLZo',
 'MvmDe',
 'UJWxQ',
 'yXcpz',
 'YkjvU',
 'xxsQP',
 'iPLJo',
 'EYZDv']

In [32]:
pd.DataFrame(np.random.randint(0, 100, size=(10, 4)), index=list((''.join(random.choice(string.ascii_letters) for i in range(5))) for i in range(10)), columns=['국어', '영어', '수학', '사회'])

       국어  영어  수학  사회
gAySr  85  29  19  31
hPHia  36   0  77  68
mOiQW  66  87  20  32
GasGe   3  86  88  90
BIWMy   8  96  64  37
vZTGf  88   3  10  94
aTBNB  67  69  63  73
hqjZo  59  27  16  56
qkNcX   1  62  87  19
zgGBk  64  60  35  98

In [33]:
pd.DataFrame(np.random.randint(0, 100, size=(10, 4)), 
             index=list((''.join(random.choice(string.ascii_letters) for i in range(5))) for i in range(10)), 
             columns=['국어', '영어', '수학', '사회']
            )

       국어  영어  수학  사회
XTuTh  17  69  15   6
pHyGo  34  91  65  27
mMTrk  43  44  49  70
Mpskm  60   4  88  42
RQBZF  19  59  17  50
UkOCj  46  35   3   2
YkLgY  70  81  74  80
FiFfd  53  15  96  16
gzACr  88   9  53   6
MbgpX  84  43  58  85

In [34]:
df = pd.DataFrame(np.random.randint(0, 100, size=(10, 4)), 
             index=list((''.join(random.choice(string.ascii_letters) for i in range(5))) for i in range(10)), 
             columns=['국어', '영어', '수학', '사회']
            )

In [35]:
c = df.loc(['국어', '수학'])

TypeError: unhashable type: 'list'

In [36]:
c= df.loc('국어')

ValueError: No axis named 국어 for object type DataFrame

In [37]:
c = df.loc(0:1, axis=1)

SyntaxError: invalid syntax (<ipython-input-37-6b8231b8f5fe>, line 1)

In [38]:
df.loc[0]

KeyError: 0

In [39]:
df.iloc[:,[0,2]]

       국어  수학
sHHAm  92  38
GLVOY  31  71
rxOAj  39  29
WdEVT  79  33
pidZd  14  76
DPpSl  45  58
XoCJR  65  88
Cjbko  56  72
yOtSU  39  69
MxjlV  79  97

In [40]:
df['국어']

sHHAm    92
GLVOY    31
rxOAj    39
WdEVT    79
pidZd    14
DPpSl    45
XoCJR    65
Cjbko    56
yOtSU    39
MxjlV    79
Name: 국어, dtype: int32

In [41]:
df.loc[['GLVOY', 'MxjlV'], ['국어', '영어']]

       국어  영어
GLVOY  31  73
MxjlV  79   2

In [42]:
np.random.randint(0, 100, size=(10, 4))

array([[97,  1, 38,  8],
       [89, 24, 18, 42],
       [74, 70, 89, 66],
       [88, 62, 48,  0],
       [36, 40, 41,  5],
       [83, 18, 17, 55],
       [22, 68, 46, 74],
       [29, 44, 50, 61],
       [26, 47, 98, 83],
       [66, 42,  2,  1]])

In [43]:
df.concat({'과학': np.random.randint(0, 100, size=(10, 1))})

AttributeError: 'DataFrame' object has no attribute 'concat'

In [44]:
df.merge({'과학': np.random.randint(0, 100, size=(10, 1))})

TypeError: Can only merge Series or DataFrame objects, a <class 'dict'> was passed

In [45]:
dp.Series({'과학': np.random.randint(0, 100, size=(10, 1))})

NameError: name 'dp' is not defined

In [46]:
pd.Series({'과학': np.random.randint(0, 100, size=(10, 1))})

과학    [[24], [52], [77], [28], [43], [44], [53], [53...
dtype: object

In [47]:
dp.Series({'과학': np.random.randint(0, 100, size=(10, ))})

NameError: name 'dp' is not defined

In [48]:
pd.Series({'과학': np.random.randint(0, 100, size=(10, ))})

과학    [18, 66, 60, 86, 30, 87, 79, 88, 6, 3]
dtype: object

In [49]:
c = pd.Series({'과학': np.random.randint(0, 100, size=(10, ))})

In [50]:
print(type(c))

<class 'pandas.core.series.Series'>

In [51]:
df.merge(c)

ValueError: Cannot merge a Series without a name

In [52]:
df.merge(pd.DataFrame({'과학': np.random.randint(range(0,100, size=(10,)))}),how='right')

TypeError: range() takes no keyword arguments

In [53]:
df.merge(pd.DataFrame({'과학': np.random.randint(0,100, size=(10,))}),how='right')

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False

In [54]:
df.merge(pd.DataFrame({'과학': np.random.randint(0,100, size=(,10))}),how='right')

SyntaxError: invalid syntax (<ipython-input-54-bbde46572c8c>, line 1)

In [55]:
np.random.randint(0,100, size=(1,10))

array([[35, 10, 80, 78, 56,  6, 48, 95, 34, 96]])

In [56]:
df.merge(pd.DataFrame({'과학': np.random.randint(0,100, size=(,10))}),how='left')

SyntaxError: invalid syntax (<ipython-input-56-32509c52c76c>, line 1)

In [57]:
df.merge(pd.DataFrame({'과학': np.random.randint(0,100, size=(10,))}),how='right')

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False

In [58]:
df.assign(c)

TypeError: assign() takes 1 positional argument but 2 were given

In [59]:
df.assign(pd.Series({'과학': np.random.ranint(0, 100, size=(10,))})

SyntaxError: unexpected EOF while parsing (<ipython-input-59-79eacae736e1>, line 1)

In [60]:
pd.Series({'과학': np.random.ranint(0, 100, size=(10,))})

AttributeError: module 'numpy.random' has no attribute 'ranint'

In [61]:
pd.Series({'과학': np.random.randint(0, 100, size=(10,))})

과학    [66, 3, 73, 70, 15, 22, 47, 59, 30, 12]
dtype: object

In [62]:
df.assign(pd.Series({'과학': np.random.randint(0, 100, size=(10,))}))

TypeError: assign() takes 1 positional argument but 2 were given

In [63]:
df.assign(과학=np.random.randint(0, 100, size=(10,)))

       국어  영어  수학  사회  과학
sHHAm  92  17  38  55  21
GLVOY  31  73  71  44  61
rxOAj  39  52  29  38  59
WdEVT  79  65  33  93  70
pidZd  14  80  76  90  28
DPpSl  45   8  58  21  96
XoCJR  65  94  88  11  92
Cjbko  56  85  72  53  73
yOtSU  39  25  69  62  20
MxjlV  79   2  97  12  26

In [64]:
df.assign(총점=국어+영어+수학+사회+과학)

NameError: name '국어' is not defined

In [65]:
df.assign(총점=df['국어']+df['영어']+df['수학']+df['사회']+df['과학'])

KeyError: '과학'

In [66]:
df

       국어  영어  수학  사회
sHHAm  92  17  38  55
GLVOY  31  73  71  44
rxOAj  39  52  29  38
WdEVT  79  65  33  93
pidZd  14  80  76  90
DPpSl  45   8  58  21
XoCJR  65  94  88  11
Cjbko  56  85  72  53
yOtSU  39  25  69  62
MxjlV  79   2  97  12

In [67]:
df = df.assign(과학=np.random.randint(0, 100, size=(10,)))

In [68]:
df

       국어  영어  수학  사회  과학
sHHAm  92  17  38  55  21
GLVOY  31  73  71  44   0
rxOAj  39  52  29  38  26
WdEVT  79  65  33  93   8
pidZd  14  80  76  90  78
DPpSl  45   8  58  21  23
XoCJR  65  94  88  11  54
Cjbko  56  85  72  53  23
yOtSU  39  25  69  62   9
MxjlV  79   2  97  12  31

In [69]:
df.assign(총점=df['국어']+df['영어']+df['수학']+df['사회']+df['과학'])

       국어  영어  수학  사회  과학   총점
sHHAm  92  17  38  55  21  223
GLVOY  31  73  71  44   0  219
rxOAj  39  52  29  38  26  184
WdEVT  79  65  33  93   8  278
pidZd  14  80  76  90  78  338
DPpSl  45   8  58  21  23  155
XoCJR  65  94  88  11  54  312
Cjbko  56  85  72  53  23  289
yOtSU  39  25  69  62   9  204
MxjlV  79   2  97  12  31  221

In [70]:
df = df.assign(총점=df['국어']+df['영어']+df['수학']+df['사회']+df['과학'])

In [71]:
df.loc[[0],:]

KeyError: "None of [Int64Index([0], dtype='int64')] are in the [index]"

In [72]:
df.iloc[[0],:]

       국어  영어  수학  사회  과학   총점
sHHAm  92  17  38  55  21  223

In [73]:
sum(df.iloc[[0],:])

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [74]:
sum(list(df.iloc[[0],:]))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [75]:
list(df.iloc[[0],:])

['국어', '영어', '수학', '사회', '과학', '총점']

In [76]:
list(df.iloc[[1],:])

['국어', '영어', '수학', '사회', '과학', '총점']

In [77]:
df.iloc[[1],:]

       국어  영어  수학  사회  과학   총점
GLVOY  31  73  71  44   0  219

In [78]:
df.sum(axis=0)

국어     539
영어     501
수학     631
사회     479
과학     273
총점    2423
dtype: int64

In [79]:
print(type(df.sum(axis=0)))

<class 'pandas.core.series.Series'>

In [80]:
pd.DataFrame({'합계':df.sum(axis=0)})

      합계
국어   539
영어   501
수학   631
사회   479
과학   273
총점  2423

In [81]:
pd.DataFrame(df.sum(axis=0),columns=df.columns)

ValueError: Shape of passed values is (6, 1), indices imply (6, 6)

In [82]:
pd.DataFrame(df.sum(axis=0))

       0
국어   539
영어   501
수학   631
사회   479
과학   273
총점  2423

In [83]:
pd.DataFrame(df.sum(axis=0)).transpose()

    국어   영어   수학   사회   과학    총점
0  539  501  631  479  273  2423

In [84]:
pd.DataFrame({'합계':df.sum(axis=0)}).transpose()

     국어   영어   수학   사회   과학    총점
합계  539  501  631  479  273  2423

In [85]:
df.merge(pd.DataFrame({'합계':df.sum(axis=0)}).transpose())

Empty DataFrame
Columns: [국어, 영어, 수학, 사회, 과학, 총점]
Index: []

In [86]:
df

       국어  영어  수학  사회  과학   총점
sHHAm  92  17  38  55  21  223
GLVOY  31  73  71  44   0  219
rxOAj  39  52  29  38  26  184
WdEVT  79  65  33  93   8  278
pidZd  14  80  76  90  78  338
DPpSl  45   8  58  21  23  155
XoCJR  65  94  88  11  54  312
Cjbko  56  85  72  53  23  289
yOtSU  39  25  69  62   9  204
MxjlV  79   2  97  12  31  221

In [87]:
df_sum = (pd.DataFrame({'합계':df.sum(axis=0)}).transpose()

SyntaxError: unexpected EOF while parsing (<ipython-input-87-ea07e47915d5>, line 1)

In [88]:
df_sum = pd.DataFrame({'합계':df.sum(axis=0)}).transpose()

In [89]:
df_sum

     국어   영어   수학   사회   과학    총점
합계  539  501  631  479  273  2423

In [90]:
pd.concat([df,df_sum], axis=1)

,국어,영어,수학,사회,과학,총점,국어,영어,수학,사회,과학,총점
sHHAm,92.0,17.0,38.0,55.0,21.0,223.0,NaN,NaN,NaN,NaN,NaN,NaN
GLVOY,31.0,73.0,71.0,44.0,0.0,219.0,NaN,NaN,NaN,NaN,NaN,NaN
rxOAj,39.0,52.0,29.0,38.0,26.0,184.0,NaN,NaN,NaN,NaN,NaN,NaN
WdEVT,79.0,65.0,33.0,93.0,8.0,278.0,NaN,NaN,NaN,NaN,NaN,NaN
pidZd,14.0,80.0,76.0,90.0,78.0,338.0,NaN,NaN,NaN,NaN,NaN,NaN
DPpSl,45.0,8.0,58.0,21.0,23.0,155.0,NaN,NaN,NaN,NaN,NaN,NaN
XoCJR,65.0,94.0,88.0,11.0,54.0,312.0,NaN,NaN,NaN,NaN,NaN,NaN
Cjbko,56.0,85.0,72.0,53.0,23.0,289.0,NaN,NaN,NaN,NaN,NaN,NaN
yOtSU,39.0,25.0,69.0,62.0,9.0,204.0,NaN,NaN,NaN,NaN,NaN,NaN
MxjlV,79.0,2.0,97.0,12.0,31.0,221.0,NaN,NaN,NaN,NaN,NaN,NaN
합계,NaN,NaN,NaN,NaN,NaN,NaN,539.0,501.0,631.0,479.0,273.0,2423.0

In [91]:
pd.concat([df,df_sum], axis=0)

        국어   영어   수학   사회   과학    총점
sHHAm   92   17   38   55   21   223
GLVOY   31   73   71   44    0   219
rxOAj   39   52   29   38   26   184
WdEVT   79   65   33   93    8   278
pidZd   14   80   76   90   78   338
DPpSl   45    8   58   21   23   155
XoCJR   65   94   88   11   54   312
Cjbko   56   85   72   53   23   289
yOtSU   39   25   69   62    9   204
MxjlV   79    2   97   12   31   221
합계     539  501  631  479  273  2423

In [92]:
df_done = pd.concat([df,df_sum], axis=0)

In [93]:
df

       국어  영어  수학  사회  과학   총점
sHHAm  92  17  38  55  21  223
GLVOY  31  73  71  44   0  219
rxOAj  39  52  29  38  26  184
WdEVT  79  65  33  93   8  278
pidZd  14  80  76  90  78  338
DPpSl  45   8  58  21  23  155
XoCJR  65  94  88  11  54  312
Cjbko  56  85  72  53  23  289
yOtSU  39  25  69  62   9  204
MxjlV  79   2  97  12  31  221

In [94]:
df_sum

     국어   영어   수학   사회   과학    총점
합계  539  501  631  479  273  2423

In [95]:
df_done

        국어   영어   수학   사회   과학    총점
sHHAm   92   17   38   55   21   223
GLVOY   31   73   71   44    0   219
rxOAj   39   52   29   38   26   184
WdEVT   79   65   33   93    8   278
pidZd   14   80   76   90   78   338
DPpSl   45    8   58   21   23   155
XoCJR   65   94   88   11   54   312
Cjbko   56   85   72   53   23   289
yOtSU   39   25   69   62    9   204
MxjlV   79    2   97   12   31   221
합계     539  501  631  479  273  2423

In [96]:
df_done.sort_values('총점')

        국어   영어   수학   사회   과학    총점
DPpSl   45    8   58   21   23   155
rxOAj   39   52   29   38   26   184
yOtSU   39   25   69   62    9   204
GLVOY   31   73   71   44    0   219
MxjlV   79    2   97   12   31   221
sHHAm   92   17   38   55   21   223
WdEVT   79   65   33   93    8   278
Cjbko   56   85   72   53   23   289
XoCJR   65   94   88   11   54   312
pidZd   14   80   76   90   78   338
합계     539  501  631  479  273  2423

In [97]:
df_done.sort_values('총점',ascending=False)

        국어   영어   수학   사회   과학    총점
합계     539  501  631  479  273  2423
pidZd   14   80   76   90   78   338
XoCJR   65   94   88   11   54   312
Cjbko   56   85   72   53   23   289
WdEVT   79   65   33   93    8   278
sHHAm   92   17   38   55   21   223
MxjlV   79    2   97   12   31   221
GLVOY   31   73   71   44    0   219
yOtSU   39   25   69   62    9   204
rxOAj   39   52   29   38   26   184
DPpSl   45    8   58   21   23   155

In [98]:
df_done.sort_values('총점',ascending=False).drops('합계')

AttributeError: 'DataFrame' object has no attribute 'drops'

In [99]:
df_done.sort_values('총점',ascending=False).drop('합계')

       국어  영어  수학  사회  과학   총점
pidZd  14  80  76  90  78  338
XoCJR  65  94  88  11  54  312
Cjbko  56  85  72  53  23  289
WdEVT  79  65  33  93   8  278
sHHAm  92  17  38  55  21  223
MxjlV  79   2  97  12  31  221
GLVOY  31  73  71  44   0  219
yOtSU  39  25  69  62   9  204
rxOAj  39  52  29  38  26  184
DPpSl  45   8  58  21  23  155

In [100]:
df_sorted = df_done.sort_values('총점',ascending=False).drop('합계')