In [1]:
# 1. 판다스와 넘파이를 임포트하기
import numpy as np
import pandas as pd

In [2]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [3]:
# 4. 주어진 값으로 DataFrame 객체를 생성하시오
df = pd.DataFrame(data, index=labels)

In [4]:
# 5. 객체내부 정보를 출력
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [5]:
# 6. 객체 상위 3열까지 출력
df.sort_values('visits', ascending=False).loc[df.sort_values('visits', ascending=False).index([0:2])]

SyntaxError: invalid syntax (<ipython-input-5-a9122c449401>, line 2)

In [6]:
df.sort_values('visits', ascending=False)

  animal  age  visits priority
b    cat  3.0       3      yes
d    dog  NaN       3      yes
f    cat  2.0       3       no
c  snake  0.5       2       no
e    dog  5.0       2       no
i    dog  7.0       2       no
a    cat  2.5       1      yes
g  snake  4.5       1       no
h    cat  NaN       1      yes
j    dog  3.0       1       no

In [7]:
df_1 = df.sort_values('visits', ascending=False)

In [8]:
df_1.drop(df_1.index(0:2))

SyntaxError: invalid syntax (<ipython-input-8-57fae99a7ddd>, line 1)

In [9]:
df_1.drop(df_1.index(0, 1, 2))

TypeError: 'Index' object is not callable

In [10]:
df_1.index

Index(['b', 'd', 'f', 'c', 'e', 'i', 'a', 'g', 'h', 'j'], dtype='object')

In [11]:
df_1.drop(df_1.index(0))

TypeError: 'Index' object is not callable

In [12]:
df_1.drop([df_1.index(0)])

TypeError: 'Index' object is not callable

In [13]:
df_1.drop([0:2])

SyntaxError: invalid syntax (<ipython-input-13-07fbbe08bb4d>, line 1)

In [14]:
df_1.drop([df_1.index[3]])

  animal  age  visits priority
b    cat  3.0       3      yes
d    dog  NaN       3      yes
f    cat  2.0       3       no
e    dog  5.0       2       no
i    dog  7.0       2       no
a    cat  2.5       1      yes
g  snake  4.5       1       no
h    cat  NaN       1      yes
j    dog  3.0       1       no

In [15]:
df_1

  animal  age  visits priority
b    cat  3.0       3      yes
d    dog  NaN       3      yes
f    cat  2.0       3       no
c  snake  0.5       2       no
e    dog  5.0       2       no
i    dog  7.0       2       no
a    cat  2.5       1      yes
g  snake  4.5       1       no
h    cat  NaN       1      yes
j    dog  3.0       1       no

In [16]:
df_1.drop([df_1.index[3:len(df_1.index)-1]])

KeyError: "[('c', 'e', 'i', 'a', 'g', 'h')] not found in axis"

In [17]:
df_1.drop([df_1.index[3:8]])

KeyError: "[('c', 'e', 'i', 'a', 'g')] not found in axis"

In [18]:
df_1.drop([df_1.index[3]])

  animal  age  visits priority
b    cat  3.0       3      yes
d    dog  NaN       3      yes
f    cat  2.0       3       no
e    dog  5.0       2       no
i    dog  7.0       2       no
a    cat  2.5       1      yes
g  snake  4.5       1       no
h    cat  NaN       1      yes
j    dog  3.0       1       no

In [19]:
df_1.drop([df_1.index[i] for i in range(3, 9)])

  animal  age  visits priority
b    cat  3.0       3      yes
d    dog  NaN       3      yes
f    cat  2.0       3       no
j    dog  3.0       1       no

In [20]:
df_1.drop([df_1.index[i] for i in range(3, 10)])

  animal  age  visits priority
b    cat  3.0       3      yes
d    dog  NaN       3      yes
f    cat  2.0       3       no

In [21]:
# 2. 판다스 버전 출력
pd. show_versions()

INSTALLED VERSIONS
------------------
commit           : 2cb96529396d93b46abab7bbc73a208e708c642e
python           : 3.8.8.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
Version          : 10.0.19041
machine          : AMD64
processor        : Intel64 Family 6 Model 158 Stepping 13, GenuineIntel
byteorder        : little
LC_ALL           : None
LANG             : None
LOCALE           : Korean_Korea.949

pandas           : 1.2.4
numpy            : 1.20.1
pytz             : 2021.1
dateutil         : 2.8.1
pip              : 21.0.1
setuptools       : 52.0.0.post20210125
Cython           : 0.29.23
pytest           : 6.2.3
hypothesis       : None
sphinx           : 4.0.1
blosc            : None
feather          : None
xlsxwriter       : 1.3.8
lxml.etree       : 4.6.3
html5lib         : 1.1
pymysql          : None
psycopg2         : None
jinja2           : 2.11.3
IPython          : 7.22.0
pandas_datareader: None
bs4              : 4.9.3
bottleneck       : 1.3.2
fsspec           : 0.9.0
fastparquet      : None
gcsfs            : None
matplotlib       : 3.3.4
numexpr          : 2.7.3
odfpy            : None
openpyxl         : 3.0.7
pandas_gbq       : None
pyarrow          : None
pyxlsb           : None
s3fs             : None
scipy            : 1.6.2
sqlalchemy       : 1.4.7
tables           : 3.6.1
tabulate         : None
xarray           : None
xlrd             : 2.0.1
xlwt             : 1.3.0
numba            : 0.53.1

In [22]:
# 3. 판다스 라이브러리 버전 정보 모두 출력: 통과
# 7. animal과 age 컬럼만 출력
df.loc(:, ['animal', 'age'])

SyntaxError: invalid syntax (<ipython-input-22-3ddd8d517d13>, line 3)

In [23]:
df.loc([:], ['animal', 'age'])

SyntaxError: invalid syntax (<ipython-input-23-8e7054fb70c4>, line 1)

In [24]:
df('a')

TypeError: 'DataFrame' object is not callable

In [25]:
df.loc(['a', 'b'], ['animal', 'age'])

TypeError: __call__() takes from 1 to 2 positional arguments but 3 were given

In [26]:
df.loc(columns=['animal', 'age'])

TypeError: __call__() got an unexpected keyword argument 'columns'

In [27]:
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [28]:
df.loc[:, ['animal', 'age']]

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

In [29]:
# 8. 객체의 3, 4, 8번 열에 해당하는 animal과 age 값만 출력
df.loc[[df.index[3], df.index[4], df.index[8],['animal', 'age']]

SyntaxError: unexpected EOF while parsing (<ipython-input-29-4cbe209076dd>, line 2)

In [30]:
df.loc[[df.index[3], df.index[4], df.index[8]],['animal', 'age']]

  animal  age
d    dog  NaN
e    dog  5.0
i    dog  7.0

In [31]:
# 9. visit 컬럼에서 3 초과하는 값 출력
df.loc[:, ['visit' > 3]]

TypeError: '>' not supported between instances of 'str' and 'int'

In [32]:
df.loc[df['visit'] > 6]

KeyError: 'visit'

In [33]:
df.loc[df['visits'] > 6]

Empty DataFrame
Columns: [animal, age, visits, priority]
Index: []

In [34]:
# 10. age 에서 NaN 값 출력
df.loc[df['age'] == NaN]

NameError: name 'NaN' is not defined

In [35]:
import NaN

ModuleNotFoundError: No module named 'NaN'

In [36]:
NaN

NameError: name 'NaN' is not defined

In [37]:
df['age'].isNaN()

AttributeError: 'Series' object has no attribute 'isNaN'

In [38]:
pd.isna(df['age'])

a    False
b    False
c    False
d     True
e    False
f    False
g    False
h     True
i    False
j    False
Name: age, dtype: bool

In [39]:
df.loc[pd.isna(df['age'])]

  animal  age  visits priority
d    dog  NaN       3      yes
h    cat  NaN       1      yes

In [40]:
# 11. age가 3살 미만 고양이값 출력
df.loc[df['age'] < 3]

  animal  age  visits priority
a    cat  2.5       1      yes
c  snake  0.5       2       no
f    cat  2.0       3       no

In [41]:
# 12. age가 2살이상 4살 미만인 값 출력
df.loc[2 <= df['age'] <= 4]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [42]:
df.loc[2 <= df['age'] && df['age'] <= 4]

SyntaxError: invalid syntax (<ipython-input-42-4fce7b4458fb>, line 1)

In [43]:
df.loc[2 <= df['age'] and df['age'] <= 4]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [44]:
df.loc[2 <= df['age']]

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
i    dog  7.0       2       no
j    dog  3.0       1       no

In [45]:
df.loc[df['age'] <= 4]

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
f    cat  2.0       3       no
j    dog  3.0       1       no

In [46]:
df.loc[(2 <= df['age'])*(df['age'] <= 4)]

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\computation\expressions.py:204: UserWarning: evaluating in Python space because the '*' operator is not supported by numexpr for the bool dtype, use '&' instead
  warnings.warn(

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
f    cat  2.0       3       no
j    dog  3.0       1       no

In [47]:
df.loc[(2 <= df['age'])&(df['age'] <= 4)]

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
f    cat  2.0       3       no
j    dog  3.0       1       no

In [48]:
# 13. f 행의 나이를 1.5살로 변경
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [49]:
df.loc[['f'],['age']] = 1.5

In [50]:
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [51]:
# 14. 객체에서 visit 의 합 출력
df.sum(columns=['visits'])

TypeError: sum() got an unexpected keyword argument 'columns'

In [52]:
df['visits'].sum()

19

In [53]:
# 15. 동물별로 나이의 평균 출력
df['animal']

a      cat
b      cat
c    snake
d      dog
e      dog
f      cat
g    snake
h      cat
i      dog
j      dog
Name: animal, dtype: object

In [54]:
df['animal'].unique()

array(['cat', 'snake', 'dog'], dtype=object)

In [55]:
temp = df['animal'].unique()

In [56]:
df['age'].sum(df['animal'] == 'cat')

TypeError: 'Series' objects are mutable, thus they cannot be hashed

In [57]:
df.loc[df['animal']=='cat', 'age'].sum()

7.0

In [58]:
[{temp[i]: df.loc[df['animal']==temp[i], 'age'].sum()} for i, j in enumerate(temp)]

[{'cat': 7.0}, {'snake': 5.0}, {'dog': 15.0}]

In [59]:
[len(df.loc[df['animal']==temp[i]]) for i in temp]

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [60]:
[len(df.loc[df['animal']==temp[i]]) for i, j in enumerate(temp)]

[4, 2, 4]

In [61]:
[{temp[i]: df.loc[df['animal']==temp[i], 'age'].sum()/len(df.loc[df['animal']==temp[i]])} for i, j in enumerate(temp)]

[{'cat': 1.75}, {'snake': 2.5}, {'dog': 3.75}]

In [62]:
# 16 - 1. k열을 추가하여 dog , 5.5세, 우선권없음(no), 방문회수 2회 열을 추가
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [63]:
df['k'] = ['dog', 5.5, 2, 'no']

ValueError: Length of values (4) does not match length of index (10)

In [64]:
df['k'] = pd.Series(['dog', 5.5, 2, 'no'])

In [65]:
df

  animal  age  visits priority    k
a    cat  2.5       1      yes  NaN
b    cat  3.0       3      yes  NaN
c  snake  0.5       2       no  NaN
d    dog  NaN       3      yes  NaN
e    dog  5.0       2       no  NaN
f    cat  1.5       3       no  NaN
g  snake  4.5       1       no  NaN
h    cat  NaN       1      yes  NaN
i    dog  7.0       2       no  NaN
j    dog  3.0       1       no  NaN

In [66]:
df.drop(columns=['k'])

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [67]:
df = df.drop(columns=['k'])

In [68]:
pd.Series([{'animal':'dog'}, {'age': 5.5}, {'visits': 2}, {'priority': 'no'}])

0     {'animal': 'dog'}
1          {'age': 5.5}
2         {'visits': 2}
3    {'priority': 'no'}
dtype: object

In [69]:
pd.Series({'animal':'dog'}, {'age': 5.5}, {'visits': 2}, {'priority': 'no'})

TypeError: Series.name must be a hashable type

In [70]:
pd.Series({'animal':'dog', 'age': 5.5, 'visits': 2, 'priority': 'no'})

animal      dog
age         5.5
visits        2
priority     no
dtype: object

In [71]:
df['k'] = pd.Series({'animal':'dog', 'age': 5.5, 'visits': 2, 'priority': 'no'})

In [72]:
df

  animal  age  visits priority    k
a    cat  2.5       1      yes  NaN
b    cat  3.0       3      yes  NaN
c  snake  0.5       2       no  NaN
d    dog  NaN       3      yes  NaN
e    dog  5.0       2       no  NaN
f    cat  1.5       3       no  NaN
g  snake  4.5       1       no  NaN
h    cat  NaN       1      yes  NaN
i    dog  7.0       2       no  NaN
j    dog  3.0       1       no  NaN

In [73]:
df = df.drop(columns=['k'])

In [74]:
df['k'] = pd.Series({'animal':'dog', 'age': 5.5, 'visits': 2, 'priority': 'no'}).transpose()

In [75]:
df

  animal  age  visits priority    k
a    cat  2.5       1      yes  NaN
b    cat  3.0       3      yes  NaN
c  snake  0.5       2       no  NaN
d    dog  NaN       3      yes  NaN
e    dog  5.0       2       no  NaN
f    cat  1.5       3       no  NaN
g  snake  4.5       1       no  NaN
h    cat  NaN       1      yes  NaN
i    dog  7.0       2       no  NaN
j    dog  3.0       1       no  NaN

In [76]:
df = df.drop(columns=['k'])

In [77]:
pd.DataFrame({'animal':'dog', 'age': 5.5, 'visits': 2, 'priority': 'no'}, index='k')

TypeError: Index(...) must be called with a collection of some kind, 'k' was passed

In [78]:
pd.DataFrame({'animal':'dog', 'age': 5.5, 'visits': 2, 'priority': 'no'}, index=['k'])

  animal  age  visits priority
k    dog  5.5       2       no

In [79]:
df['k'] = pd.DataFrame({'animal':'dog', 'age': 5.5, 'visits': 2, 'priority': 'no'}, index=['k'])

ValueError: Wrong number of items passed 4, placement implies 1

In [80]:
df = pd.concat([df, pd.DataFrame({'animal':'dog', 'age': 5.5, 'visits': 2, 'priority': 'no'}, index=['k'])])

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no
k    dog  5.5       2       no

In [81]:
# 16 - 2. 방금 추가한 열 삭제
df = df.drop('k')

KeyError: "['k'] not found in axis"

In [82]:
df = df.drop(['k'])

KeyError: "['k'] not found in axis"

In [83]:
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [84]:
# 16 - 1 추가가 안되서 추가함
df = pd.concat([df, pd.DataFrame({'animal':'dog', 'age': 5.5, 'visits': 2, 'priority': 'no'}, index=['k'])])

In [85]:
# 16 - 2 다시
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no
k    dog  5.5       2       no

In [86]:
df = df.drop('k')

In [87]:
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [88]:
# 17. 객체에 있는 동물의 종류의 수 출력
len(df['animal'].unique())

3

In [89]:
# 18. age 는 내림차순, visits 는 오름차순으로 정렬
df.sort_values('visits')

  animal  age  visits priority
a    cat  2.5       1      yes
g  snake  4.5       1       no
h    cat  NaN       1      yes
j    dog  3.0       1       no
c  snake  0.5       2       no
e    dog  5.0       2       no
i    dog  7.0       2       no
b    cat  3.0       3      yes
d    dog  NaN       3      yes
f    cat  1.5       3       no

In [90]:
df.sort_values('visits').sort_values('age', ascending=False)

  animal  age  visits priority
i    dog  7.0       2       no
e    dog  5.0       2       no
g  snake  4.5       1       no
j    dog  3.0       1       no
b    cat  3.0       3      yes
a    cat  2.5       1      yes
f    cat  1.5       3       no
c  snake  0.5       2       no
h    cat  NaN       1      yes
d    dog  NaN       3      yes

In [91]:
df.sort_values('age', ascending=False).sort_values('visits')

  animal  age  visits priority
g  snake  4.5       1       no
j    dog  3.0       1       no
a    cat  2.5       1      yes
h    cat  NaN       1      yes
i    dog  7.0       2       no
e    dog  5.0       2       no
c  snake  0.5       2       no
b    cat  3.0       3      yes
f    cat  1.5       3       no
d    dog  NaN       3      yes

In [92]:
# 19. priority 의 yes를 True, no 를 False  로 맵핑 후 출력
df['priority'] = (df['priority']=='yes')? True : False

SyntaxError: invalid syntax (<ipython-input-92-f1aaf996e772>, line 2)

In [93]:
(df['priority']=='yes')? True : False

SyntaxError: invalid syntax (<ipython-input-93-756b55a1c279>, line 1)

In [94]:
True if df['priority'] == 'yes' else False

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [95]:
True if (df['priority'] == 'yes') else False

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [96]:
df['priority'] = True if (df['priority'] == 'yes') else False

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [97]:
df['priority'] == 'yes'

a     True
b     True
c    False
d     True
e    False
f    False
g    False
h     True
i    False
j    False
Name: priority, dtype: bool

In [98]:
df['priority'] = df['priority'] == 'yes'

In [99]:
df

  animal  age  visits  priority
a    cat  2.5       1      True
b    cat  3.0       3      True
c  snake  0.5       2     False
d    dog  NaN       3      True
e    dog  5.0       2     False
f    cat  1.5       3     False
g  snake  4.5       1     False
h    cat  NaN       1      True
i    dog  7.0       2     False
j    dog  3.0       1     False

In [100]:
# 20. snake 를 python 으로 값을 변경
df['animal'] = df.loc[df['animal']=='snake', 'python']

KeyError: 'python'

In [101]:
df.loc[df['animal']=='snake']

  animal  age  visits  priority
c  snake  0.5       2     False
g  snake  4.5       1     False

In [102]:
[df['animal']=='snake']

[a    False
 b    False
 c     True
 d    False
 e    False
 f    False
 g     True
 h    False
 i    False
 j    False
 Name: animal, dtype: bool]

In [103]:
df[df['animal']=='snake', python]

NameError: name 'python' is not defined

In [104]:
[df['animal']=='snake', python]

NameError: name 'python' is not defined

In [105]:
[df['animal']=='snake', 'python']

[a    False
 b    False
 c     True
 d    False
 e    False
 f    False
 g     True
 h    False
 i    False
 j    False
 Name: animal, dtype: bool,
 'python']

In [106]:
df['animal'] = 'python' if df['animal']=='snake'

SyntaxError: invalid syntax (<ipython-input-106-a5a26ed24913>, line 1)

In [107]:
df['animal'] = ['python' if df['animal']=='snake']

SyntaxError: invalid syntax (<ipython-input-107-f0dfd77ef35e>, line 1)

In [108]:
['python' if df['animal']=='snake']

SyntaxError: invalid syntax (<ipython-input-108-110099835fc4>, line 1)

In [109]:
[if df['animal']=='snake']

SyntaxError: invalid syntax (<ipython-input-109-27c2c5494607>, line 1)

In [110]:
[df['animal']=='snake']

[a    False
 b    False
 c     True
 d    False
 e    False
 f    False
 g     True
 h    False
 i    False
 j    False
 Name: animal, dtype: bool]

In [111]:
[df['animal']=='snake', 'python']

[a    False
 b    False
 c     True
 d    False
 e    False
 f    False
 g     True
 h    False
 i    False
 j    False
 Name: animal, dtype: bool,
 'python']

In [112]:
for i in len(df.index): 
    print(df[[df.index[i]],['animal']])

TypeError: 'int' object is not iterable

In [113]:
for i in (df.index): 
    print(df[[df.index[i]],['animal']])

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [114]:
print(df[[df.index[0]],['animal']])

TypeError: '(['a'], ['animal'])' is an invalid key

In [115]:
df[[df.index[0]]

SyntaxError: unexpected EOF while parsing (<ipython-input-115-d0b77f4943da>, line 1)

In [116]:
df['a']

KeyError: 'a'

In [117]:
df

  animal  age  visits  priority
a    cat  2.5       1      True
b    cat  3.0       3      True
c  snake  0.5       2     False
d    dog  NaN       3      True
e    dog  5.0       2     False
f    cat  1.5       3     False
g  snake  4.5       1     False
h    cat  NaN       1      True
i    dog  7.0       2     False
j    dog  3.0       1     False

In [118]:
for i, j in enumerate(df.index):
    print(i)
    print(df.loc[j])

0
animal       cat
age          2.5
visits         1
priority    True
Name: a, dtype: object
1
animal       cat
age          3.0
visits         3
priority    True
Name: b, dtype: object
2
animal      snake
age           0.5
visits          2
priority    False
Name: c, dtype: object
3
animal       dog
age          NaN
visits         3
priority    True
Name: d, dtype: object
4
animal        dog
age           5.0
visits          2
priority    False
Name: e, dtype: object
5
animal        cat
age           1.5
visits          3
priority    False
Name: f, dtype: object
6
animal      snake
age           4.5
visits          1
priority    False
Name: g, dtype: object
7
animal       cat
age          NaN
visits         1
priority    True
Name: h, dtype: object
8
animal        dog
age           7.0
visits          2
priority    False
Name: i, dtype: object
9
animal        dog
age           3.0
visits          1
priority    False
Name: j, dtype: object

In [119]:
df['animal'] == 'snake'

a    False
b    False
c     True
d    False
e    False
f    False
g     True
h    False
i    False
j    False
Name: animal, dtype: bool

In [120]:
df['animal'] = df['animal'] == 'snake', 'python'

ValueError: Length of values (2) does not match length of index (10)

In [121]:
 df['animal'] == 'snake', 'python'

(a    False
 b    False
 c     True
 d    False
 e    False
 f    False
 g     True
 h    False
 i    False
 j    False
 Name: animal, dtype: bool,
 'python')

In [122]:
'python' if  df['animal'] == 'snake'

SyntaxError: invalid syntax (<ipython-input-122-d6d39742dd5e>, line 1)

In [123]:
print('python') if df['animal'] == 'snake'

SyntaxError: invalid syntax (<ipython-input-123-98fd494d35fc>, line 1)

In [124]:
df['a']

KeyError: 'a'

In [125]:
df

  animal  age  visits  priority
a    cat  2.5       1      True
b    cat  3.0       3      True
c  snake  0.5       2     False
d    dog  NaN       3      True
e    dog  5.0       2     False
f    cat  1.5       3     False
g  snake  4.5       1     False
h    cat  NaN       1      True
i    dog  7.0       2     False
j    dog  3.0       1     False

In [126]:
df['animal']

a      cat
b      cat
c    snake
d      dog
e      dog
f      cat
g    snake
h      cat
i      dog
j      dog
Name: animal, dtype: object

In [127]:
df[['a'],['animal']]

TypeError: '(['a'], ['animal'])' is an invalid key

In [128]:
df.loc[['a'],['animal']]

  animal
a    cat

In [129]:
df.loc['animal'] = 'python' if df['animal'] == 'snake'

SyntaxError: invalid syntax (<ipython-input-129-890eeb77258f>, line 1)

In [130]:
df.loc['animal'] = 'python' if df['animal'] == 'snake':

SyntaxError: invalid syntax (<ipython-input-130-40d590525644>, line 1)

In [131]:
df.loc['animal'] =  df['animal'] == 'snake', 'python'

ValueError: cannot set a row with mismatched columns

In [132]:
df.loc['animal'] = (df['animal'] == 'snake', 'python')

ValueError: cannot set a row with mismatched columns

In [133]:
df.loc[:, ['animal']]

  animal
a    cat
b    cat
c  snake
d    dog
e    dog
f    cat
g  snake
h    cat
i    dog
j    dog

In [134]:
if df['animal'] == 'snake'

SyntaxError: invalid syntax (<ipython-input-134-e26934fcebf2>, line 1)

In [135]:
df['animal'] == 'snake'

a    False
b    False
c     True
d    False
e    False
f    False
g     True
h    False
i    False
j    False
Name: animal, dtype: bool

In [136]:
'python' if df['animal'] == 'snake'

SyntaxError: invalid syntax (<ipython-input-136-7342501ee2d4>, line 1)

In [137]:
'python' if df['animal'] == 'snake' else df['animal']

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [138]:
'python' if df['animal'] == 'snake' else True

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [139]:
'python' if (df['animal'] == 'snake') else True

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [140]:
'python' if (df['animal'] == 'snake') else 'boo'

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [141]:
print('python' if df['animal'] == 'snake' else 'bomb')

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [142]:
df.iloc[1]

animal       cat
age          3.0
visits         3
priority    True
Name: b, dtype: object

In [143]:
df.iloc[1, 2]

3

In [144]:
df.loc['a']

animal       cat
age          2.5
visits         1
priority    True
Name: a, dtype: object

In [145]:
df.loc['a', 'animal']

'cat'

In [146]:
for i, j in enumerate(df.index):
    if df.iloc[i, 0] == 'snake':
        print('o')

o
o

In [147]:
for i, j in enumerate(df.index):
    if df.iloc[i, 0] == 'snake':
        df.iloc[i, 0 ] = 'python'

In [148]:
df

   animal  age  visits  priority
a     cat  2.5       1      True
b     cat  3.0       3      True
c  python  0.5       2     False
d     dog  NaN       3      True
e     dog  5.0       2     False
f     cat  1.5       3     False
g  python  4.5       1     False
h     cat  NaN       1      True
i     dog  7.0       2     False
j     dog  3.0       1     False

In [149]:
# 21. 각각의 동물 유형과 방문 횟수에 대해, 평균나이를 찾으시오. 
# 즉,각 행은 animal 이고, 각 열은 visit 이며, 값은 평균연령
# (힌트, 피벗 테이블을 활용해야 함)
for i, j in enumerate(temp):
    print(df.loc[df['animal'] == j])

  animal  age  visits  priority
a    cat  2.5       1      True
b    cat  3.0       3      True
f    cat  1.5       3     False
h    cat  NaN       1      True
Empty DataFrame
Columns: [animal, age, visits, priority]
Index: []
  animal  age  visits  priority
d    dog  NaN       3      True
e    dog  5.0       2     False
i    dog  7.0       2     False
j    dog  3.0       1     False

In [150]:
temp = df['animal'].unique()

In [151]:
temp

array(['cat', 'python', 'dog'], dtype=object)

In [152]:
df_cat = df.loc[df['animal'] == 'cat']
df_python = df.loc[df['animal'] == 'python']
df_dog = df.loc[df['animal'] == 'dog']

In [153]:
df_cat

  animal  age  visits  priority
a    cat  2.5       1      True
b    cat  3.0       3      True
f    cat  1.5       3     False
h    cat  NaN       1      True

In [154]:
temp_cat = df_cat['visits'].unique()

In [155]:
temp_cat

array([1, 3], dtype=int64)

In [156]:
[{temp_cat[i]: df.loc[df['visits']==j, 'age'].sum()/len(df.loc[df['visits']==temp_cat[i]])} for i, j in enumerate(temp_cat)]

[{1: 2.5}, {3: 1.5}]

In [157]:
[{f'visits: {temp_cat[i]}': df.loc[df['visits']==j, 'age'].sum()/len(df.loc[df['visits']==temp_cat[i]])} for i, j in enumerate(temp_cat)]

[{'visits: 1': 2.5}, {'visits: 3': 1.5}]

In [158]:
cat_avg = [{f'visits: {temp_cat[i]}': df.loc[df['visits']==j, 'age'].sum()/len(df.loc[df['visits']==temp_cat[i]])} for i, j in enumerate(temp_cat)]

In [159]:
temp_python = df_python['visits'].unique()df

In [160]:
python_avg = [{f'visits: {temp_python[i]}': df.loc[df['visits']==j, 'age'].sum()/len(df.loc[df['visits']==temp_python[i]])} for i, j in enumerate(temp_python)]

In [161]:
python_avg

[{'visits: 2': 4.166666666666667}, {'visits: 1': 2.5}]

In [162]:
temp_dog = df_dog['visits'].unique()

In [163]:
dog_avg = [{f'visits: {temp_dog[i]}': df.loc[df['visits']==j, 'age'].sum()/len(df.loc[df['visits']==temp_dog[i]])} for i, j in enumerate(temp_dog)]

In [164]:
cat_avg
python_avg
dog_avg

[{'visits: 3': 1.5}, {'visits: 2': 4.166666666666667}, {'visits: 1': 2.5}]

In [165]:
cat_avg

[{'visits: 1': 2.5}, {'visits: 3': 1.5}]

In [166]:
python_avg

[{'visits: 2': 4.166666666666667}, {'visits: 1': 2.5}]

In [167]:
dog_avg

[{'visits: 3': 1.5}, {'visits: 2': 4.166666666666667}, {'visits: 1': 2.5}]

In [168]:
# 22. 다음 객체에서 키값 A와 중복된 값이 제거된 1,2,3,4,5,6,7 이 출려되는 코드를 작성
df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})

In [169]:
df.values.unique()

AttributeError: 'numpy.ndarray' object has no attribute 'unique'

In [170]:
df.values

array([[1],
       [2],
       [2],
       [3],
       [4],
       [5],
       [5],
       [5],
       [6],
       [7],
       [7]], dtype=int64)

In [171]:
df.index

RangeIndex(start=0, stop=11, step=1)

In [172]:
df.index.unique()

RangeIndex(start=0, stop=11, step=1)

In [173]:
df['A'].unique()

array([1, 2, 3, 4, 5, 6, 7], dtype=int64)

In [174]:
# 23. 다음 객체에서 행의 각 요소에서 행의 평균을 뺀 값을 출력
df = pd.DataFrame(np.random.random(size=(5, 3)))

In [175]:
df

          0         1         2
0  0.287146  0.195849  0.244849
1  0.344677  0.036705  0.215650
2  0.814401  0.840430  0.468685
3  0.742995  0.471646  0.529204
4  0.888078  0.218213  0.804415

In [176]:
df.iloc[0].sum()

0.7278448921562359

In [178]:
for i in range(len(df.index)):
    for j in range(len(df.columns)):
        df.iloc[i, j] = df.iloc[i, j] - df.iloc[i].sum()/3

In [179]:
df

          0         1         2
0  0.044532  0.034106  0.137020
1  0.145667 -0.095969  0.127201
2  0.106562  0.368537  0.154090
3  0.161713  0.084125  0.270856
4  0.251176 -0.206389  0.521348

In [180]:
for i in range(len(df.index)):
    for j in range(len(df.columns)):
        print(df.iloc[i].sum()/3)

0.07188591527468996
0.07188591527468996
0.07188591527468996
0.05896613690606279
0.05896613690606279
0.05896613690606279
0.20972994933508637
0.20972994933508637
0.20972994933508637
0.1722316126262552
0.1722316126262552
0.1722316126262552
0.1887116591544252
0.1887116591544252
0.1887116591544252

In [181]:
df = pd.DataFrame(np.random.random(size=(5, 3)))

In [182]:
df

          0         1         2
0  0.494938  0.489098  0.633991
1  0.895695  0.026196  0.448450
2  0.683957  0.192622  0.101711
3  0.317963  0.200009  0.693141
4  0.154634  0.599892  0.052320

In [183]:
for i in range(len(df.index)):
    for j in range(len(df.columns)):
        print(df.iloc[i].sum()/3)

0.5393422722167208
0.5393422722167208
0.5393422722167208
0.4567803879683039
0.4567803879683039
0.4567803879683039
0.3260964501594675
0.3260964501594675
0.3260964501594675
0.4037041581890337
0.4037041581890337
0.4037041581890337
0.2689488452855749
0.2689488452855749
0.2689488452855749

In [184]:
for i in range(len(df.index)):
    for j in range(len(df.columns)):
        print(df.iloc[i, j] - (df.iloc[i].sum()/3))

-0.04440429237525412
-0.050244457130524944
0.09464874950577895
0.4389146421314315
-0.4305843553122286
-0.008330286819202892
0.3578602641667579
-0.13347445585836643
-0.22438580830839155
-0.08574164808074203
-0.20369489319695921
0.28943654127770135
-0.11431470748466571
0.3309435689391648
-0.21662886145449906

In [185]:
for i in range(len(df.index)):
    for j in range(len(df.columns)):
        df.iloc[i, j] = df.iloc[i, j] - (df.iloc[i].sum()/3)

In [186]:
df

          0         1         2
0 -0.044404  0.129536  0.394283
1  0.438915 -0.278324  0.245437
2  0.357860 -0.024776 -0.043221
3 -0.085742 -0.069127  0.513717
4 -0.114315  0.420593 -0.067213

In [187]:
# 24. 다음 객체에서 가장 작은 합계를 가진 숫자열의 열을 출력
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))

In [188]:
df.sum()

a    2.999044
b    1.366073
c    3.216617
d    3.151926
e    2.286919
f    2.166423
g    2.589269
h    2.738751
i    2.437159
j    2.786153
dtype: float64

In [189]:
df

,a,b,c,d,e,f,g,h,i,j
0,0.069368,0.707198,0.567893,0.546255,0.942227,0.550105,0.299000,0.560167,0.521412,0.532207
1,0.999999,0.054628,0.394058,0.905699,0.555520,0.639486,0.335454,0.444295,0.181350,0.582536
2,0.727984,0.187933,0.953516,0.353965,0.110823,0.023262,0.742296,0.752001,0.322855,0.260004
3,0.312106,0.390165,0.869908,0.716463,0.292164,0.261284,0.674062,0.081644,0.674182,0.536380
4,0.889588,0.026149,0.431241,0.629544,0.386185,0.692286,0.538457,0.900643,0.737361,0.875026

In [190]:
df['sum'] = df.sum()

In [191]:
df

,a,b,c,d,e,f,g,h,i,j,sum
0,0.069368,0.707198,0.567893,0.546255,0.942227,0.550105,0.299000,0.560167,0.521412,0.532207,NaN
1,0.999999,0.054628,0.394058,0.905699,0.555520,0.639486,0.335454,0.444295,0.181350,0.582536,NaN
2,0.727984,0.187933,0.953516,0.353965,0.110823,0.023262,0.742296,0.752001,0.322855,0.260004,NaN
3,0.312106,0.390165,0.869908,0.716463,0.292164,0.261284,0.674062,0.081644,0.674182,0.536380,NaN
4,0.889588,0.026149,0.431241,0.629544,0.386185,0.692286,0.538457,0.900643,0.737361,0.875026,NaN

In [192]:
df = df.drop('sum')

KeyError: "['sum'] not found in axis"

In [193]:
df = df.drop(columns=['sum'])

In [194]:
df

,a,b,c,d,e,f,g,h,i,j
0,0.069368,0.707198,0.567893,0.546255,0.942227,0.550105,0.299000,0.560167,0.521412,0.532207
1,0.999999,0.054628,0.394058,0.905699,0.555520,0.639486,0.335454,0.444295,0.181350,0.582536
2,0.727984,0.187933,0.953516,0.353965,0.110823,0.023262,0.742296,0.752001,0.322855,0.260004
3,0.312106,0.390165,0.869908,0.716463,0.292164,0.261284,0.674062,0.081644,0.674182,0.536380
4,0.889588,0.026149,0.431241,0.629544,0.386185,0.692286,0.538457,0.900643,0.737361,0.875026

In [195]:
pd.DataFrame(df.sum(), index=['sum'])

      0
sum NaN

In [196]:
df.sum()

a    2.999044
b    1.366073
c    3.216617
d    3.151926
e    2.286919
f    2.166423
g    2.589269
h    2.738751
i    2.437159
j    2.786153
dtype: float64

In [197]:
pd.Series(df.sum())

a    2.999044
b    1.366073
c    3.216617
d    3.151926
e    2.286919
f    2.166423
g    2.589269
h    2.738751
i    2.437159
j    2.786153
dtype: float64

In [200]:
pd.DataFrame(pd.Series(df.sum()),index=['sum']).transpose()

,a,b,c,d,e,f,g,h,i,j
0,2.999044,1.366073,3.216617,3.151926,2.286919,2.166423,2.589269,2.738751,2.437159,2.786153

In [201]:
pd.DataFrame(pd.Series(df.sum())).transpose().rename(index=['sum'])

TypeError: 'list' object is not callable

In [202]:
pd.DataFrame(pd.Series(df.sum()),index=['sum']).transpose()

   sum
0  NaN

In [203]:
pd.DataFrame(pd.Series(df.sum()),colunms=['sum']).transpose()

TypeError: __init__() got an unexpected keyword argument 'colunms'

In [204]:
pd.DataFrame(pd.Series(df.sum()),columns=['sum']).transpose()

,a,b,c,d,e,f,g,h,i,j
sum,2.999044,1.366073,3.216617,3.151926,2.286919,2.166423,2.589269,2.738751,2.437159,2.786153

In [205]:
pd.concat([df, pd.DataFrame(pd.Series(df.sum()),columns=['sum']).transpose()])

,a,b,c,d,e,f,g,h,i,j
0,0.069368,0.707198,0.567893,0.546255,0.942227,0.550105,0.299000,0.560167,0.521412,0.532207
1,0.999999,0.054628,0.394058,0.905699,0.555520,0.639486,0.335454,0.444295,0.181350,0.582536
2,0.727984,0.187933,0.953516,0.353965,0.110823,0.023262,0.742296,0.752001,0.322855,0.260004
3,0.312106,0.390165,0.869908,0.716463,0.292164,0.261284,0.674062,0.081644,0.674182,0.536380
4,0.889588,0.026149,0.431241,0.629544,0.386185,0.692286,0.538457,0.900643,0.737361,0.875026
sum,2.999044,1.366073,3.216617,3.151926,2.286919,2.166423,2.589269,2.738751,2.437159,2.786153

In [206]:
df_temp = pd.concat([df, pd.DataFrame(pd.Series(df.sum()),columns=['sum']).transpose()])

In [207]:
df_temp.transpose().sort_values('sum')

          0         1         2         3         4       sum
b  0.707198  0.054628  0.187933  0.390165  0.026149  1.366073
f  0.550105  0.639486  0.023262  0.261284  0.692286  2.166423
e  0.942227  0.555520  0.110823  0.292164  0.386185  2.286919
i  0.521412  0.181350  0.322855  0.674182  0.737361  2.437159
g  0.299000  0.335454  0.742296  0.674062  0.538457  2.589269
h  0.560167  0.444295  0.752001  0.081644  0.900643  2.738751
j  0.532207  0.582536  0.260004  0.536380  0.875026  2.786153
a  0.069368  0.999999  0.727984  0.312106  0.889588  2.999044
d  0.546255  0.905699  0.353965  0.716463  0.629544  3.151926
c  0.567893  0.394058  0.953516  0.869908  0.431241  3.216617

In [208]:
df_temp.transpose().sort_values('sum').iloc(0)

In [209]:
df_temp.transpose().sort_values('sum').iloc([0, :])

SyntaxError: invalid syntax (<ipython-input-209-e4a338846408>, line 1)

In [210]:
df_temp.transpose().sort_values('sum').iloc([0])

TypeError: unhashable type: 'list'

In [211]:
df_temp.transpose().sort_values('sum').iloc([[0], :])

SyntaxError: invalid syntax (<ipython-input-211-7c40994b9862>, line 1)

In [212]:
df_temp.transpose().sort_values('sum').iloc([[0], []:])

SyntaxError: invalid syntax (<ipython-input-212-a0bdb543d5a4>, line 1)

In [213]:
df_temp.transpose().sort_values('sum').iloc([[0], [:]])

SyntaxError: invalid syntax (<ipython-input-213-1c2d25a936dc>, line 1)

In [214]:
df_temp = df_temp.transpose().sort_values('sum')

In [215]:
df_temp

          0         1         2         3         4       sum
b  0.707198  0.054628  0.187933  0.390165  0.026149  1.366073
f  0.550105  0.639486  0.023262  0.261284  0.692286  2.166423
e  0.942227  0.555520  0.110823  0.292164  0.386185  2.286919
i  0.521412  0.181350  0.322855  0.674182  0.737361  2.437159
g  0.299000  0.335454  0.742296  0.674062  0.538457  2.589269
h  0.560167  0.444295  0.752001  0.081644  0.900643  2.738751
j  0.532207  0.582536  0.260004  0.536380  0.875026  2.786153
a  0.069368  0.999999  0.727984  0.312106  0.889588  2.999044
d  0.546255  0.905699  0.353965  0.716463  0.629544  3.151926
c  0.567893  0.394058  0.953516  0.869908  0.431241  3.216617

In [216]:
df_temp.iloc[0, :]

0      0.707198
1      0.054628
2      0.187933
3      0.390165
4      0.026149
sum    1.366073
Name: b, dtype: float64

In [217]:
df_temp.iloc[0].transpose()

0      0.707198
1      0.054628
2      0.187933
3      0.390165
4      0.026149
sum    1.366073
Name: b, dtype: float64

In [218]:
df_temp.iloc[0, :]

0      0.707198
1      0.054628
2      0.187933
3      0.390165
4      0.026149
sum    1.366073
Name: b, dtype: float64

In [219]:
df_temp.iloc[0, :].transpose()

0      0.707198
1      0.054628
2      0.187933
3      0.390165
4      0.026149
sum    1.366073
Name: b, dtype: float64

In [221]:
# 25. 다음 객체에서 중복된 값이 없는 유니크한 열의 카운트 출력(중복되지 않은 행은 몇 개..)
df = pd.DataFrame(np.random.randint(0, 2, size=(10, 3)

SyntaxError: unexpected EOF while parsing (<ipython-input-221-23fe0c5426cd>, line 2)

In [222]:
# 25. 다음 객체에서 중복된 값이 없는 유니크한 행의 카운트 출력(중복되지 않은 행은 몇 개..)
df = pd.DataFrame(np.random.randint(0, 2, size=(10, 3)))

In [223]:
df

   0  1  2
0  0  1  1
1  1  0  1
2  0  1  1
3  0  1  1
4  1  0  1
5  1  0  1
6  0  1  0
7  0  0  0
8  1  0  1
9  0  1  0

In [224]:
df.unique()

AttributeError: 'DataFrame' object has no attribute 'unique'

In [225]:
df.nunique()

0    2
1    2
2    2
dtype: int64

In [226]:
# 25. 다음 객체에서 중복된 값이 없는 유니크한 행의 카운트 출력(중복되지 않은 행은 몇 개..)
df = pd.DataFrame(np.random.randint(0, 2, size=(10, 3)))

In [227]:
pd.DataFrame.drop_duplicates(df)

   0  1  2
0  0  1  1
1  1  0  0
2  1  1  0
4  0  0  1
5  1  1  1

In [228]:
len(df.drop_duplicates().index)

5

In [229]:
# 26. 객체의 각 행에 대해 세번째 NaN 값이 들어 있는 열을 찾으시오. 일련의 열 레이블을 반환해야 합니다.
# 답은 e, c, d, h, d 입니다.
nan = np.nan
data = [[0.04,  nan,  nan, 0.25,  nan, 0.43, 0.71, 0.51,  nan,  nan],
        [ nan,  nan,  nan, 0.04, 0.76,  nan,  nan, 0.67, 0.76, 0.16],
        [ nan,  nan, 0.5 ,  nan, 0.31, 0.4 ,  nan,  nan, 0.24, 0.01],
        [0.49,  nan,  nan, 0.62, 0.73, 0.26, 0.85,  nan,  nan,  nan],
        [ nan,  nan, 0.41,  nan, 0.05,  nan, 0.61,  nan, 0.48, 0.68]]
columns = list('abcdefghij')
df = pd.DataFrame(data, columns=columns)

In [230]:
df

      a   b     c     d     e     f     g     h     i     j
0  0.04 NaN   NaN  0.25   NaN  0.43  0.71  0.51   NaN   NaN
1   NaN NaN   NaN  0.04  0.76   NaN   NaN  0.67  0.76  0.16
2   NaN NaN  0.50   NaN  0.31  0.40   NaN   NaN  0.24  0.01
3  0.49 NaN   NaN  0.62  0.73  0.26  0.85   NaN   NaN   NaN
4   NaN NaN  0.41   NaN  0.05   NaN  0.61   NaN  0.48  0.68

In [231]:
df['c'] == nan

0    False
1    False
2    False
3    False
4    False
Name: c, dtype: bool

In [232]:
pd.isnull(df['c'])

0     True
1     True
2    False
3     True
4    False
Name: c, dtype: bool

In [233]:
pd.Series(pd.isnull(df['c']))

0     True
1     True
2    False
3     True
4    False
Name: c, dtype: bool

In [234]:
is_nan_at_c = pd.Series(pd.isnull(df['c']))

In [235]:
for k, v in is_nan_at_c:
    print(k)
    print(v)

TypeError: cannot unpack non-iterable bool object

In [236]:
for k, v in enumerate(is_nan_at_c):
    print(k)
    print(v)

0
True
1
True
2
False
3
True
4
False

In [237]:
nan_at_c = []
for k, v in enumerate(is_nan_at_c):
    if v:
        nan_at_c.append(k)

In [238]:
nan_at_c

[0, 1, 3]

In [239]:
# 27. 다음 객체에서 grps 에서 a, b, c 별로 가장 큰 값을 찾으시오.
# 출력 결과는 
#  grps
#   a    409
#   b    156
#   c    345
# 이렇게 나옵니다.
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})

In [240]:
df

   grps  vals
0     a    12
1     a   345
2     a     3
3     b     1
4     b    45
5     c    14
6     a     4
7     a    52
8     b    54
9     c    23
10    c   235
11    c    21
12    b    57
13    b     3
14    c    87

In [246]:
df[df['grps'] == 'a']

  grps  vals
0    a    12
1    a   345
2    a     3
6    a     4
7    a    52

In [247]:
df[df['grps'] == 'a']['vals'].max()

345

In [250]:
max_value = []
for i in ['a', 'b', 'c']:
    max_value.append({j: df[df['grps'] == j]['vals'].max()})

In [251]:
max_value

[{2: nan}, {2: nan}, {2: nan}]

In [252]:
max_value = []
for i in 'a', 'b', 'c':
    max_value.append({i: df[df['grps'] == i]['vals'].max()})

In [253]:
max_value

[{'a': 345}, {'b': 57}, {'c': 235}]

In [254]:
# 28 다음 객체를 list 로 변환하시오
df = pd.DataFrame({'A':[1,2,3], 'B':[4,5,6]})

In [255]:
conv = []
for i, j in enumerate(df.columns):
    conv.append({df.columns[i]: df[j]})

In [256]:
conv

[{'A': 0    1
  1    2
  2    3
  Name: A, dtype: int64},
 {'B': 0    4
  1    5
  2    6
  Name: B, dtype: int64}]

In [257]:
for i, j in enumerate(df.columns):
    print(df[j])

0    1
1    2
2    3
Name: A, dtype: int64
0    4
1    5
2    6
Name: B, dtype: int64

In [258]:
conv = []
for i, j in enumerate(df.columns):
    conv.append({df.columns[i]: df.loc[j]})

KeyError: 'A'

In [259]:
conv = []
for i, j in enumerate(df.columns):
    conv.append({df.columns[i]: df.loc[:,j]})

In [260]:
conv

[{'A': 0    1
  1    2
  2    3
  Name: A, dtype: int64},
 {'B': 0    4
  1    5
  2    6
  Name: B, dtype: int64}]

In [261]:
df

   A  B
0  1  4
1  2  5
2  3  6

In [262]:
df['A']

0    1
1    2
2    3
Name: A, dtype: int64

In [263]:
df.loc[A]

NameError: name 'A' is not defined

In [264]:
df.loc['A']

KeyError: 'A'

In [265]:
df.loc[:, 'A']

0    1
1    2
2    3
Name: A, dtype: int64

In [266]:
df['A'].values()

TypeError: 'numpy.ndarray' object is not callable

In [267]:
df['A'].values

array([1, 2, 3], dtype=int64)

In [268]:
conv = []
for i, j in enumerate(df.columns):
    conv.append({df.columns[i]: df[j].values})

In [269]:
conv

[{'A': array([1, 2, 3], dtype=int64)}, {'B': array([4, 5, 6], dtype=int64)}]

In [270]:
# 29 다음 객체를 dictionary 로 변환하시오
df = pd.DataFrame({'A':[1,2,3], 'B':[4,5,6]})

In [271]:
conv = {}
for i, j in enumerate(df.columns):
    conv[j] = df[j].values

In [272]:
conv

{'A': array([1, 2, 3], dtype=int64), 'B': array([4, 5, 6], dtype=int64)}

In [273]:
# 30 다음 객체를 customer_id 를 인덱스로하고 product_code 를 컬럼으로, purchare_amount 를 값으로, 재구성하시오
df = pd.DataFrame({"customer_id":['kim','lee','park','song','yoon','kang','tak','ryu','jang'],
               "product_code":['com','phone','tv','com','phone','tv','com','phone','tv'],
               "grade":['A','A','A','A','A','A','B','B','B'],
               "purchase_amount":[30,10,0,40,15,30,0,0,10]})
df

  customer_id product_code grade  purchase_amount
0         kim          com     A               30
1         lee        phone     A               10
2        park           tv     A                0
3        song          com     A               40
4        yoon        phone     A               15
5        kang           tv     A               30
6         tak          com     B                0
7         ryu        phone     B                0
8        jang           tv     B               10

In [274]:
pd.DataFrame(df['purchase_amount'], index=df['customer_id'])

             purchase_amount
customer_id
kim                      NaN
lee                      NaN
park                     NaN
song                     NaN
yoon                     NaN
kang                     NaN
tak                      NaN
ryu                      NaN
jang                     NaN

In [275]:
df['purchase_amount']

0    30
1    10
2     0
3    40
4    15
5    30
6     0
7     0
8    10
Name: purchase_amount, dtype: int64

In [276]:
df['purchase_amount'].values

array([30, 10,  0, 40, 15, 30,  0,  0, 10], dtype=int64)

In [277]:
pd.DataFrame({'purchase_amount': df['purchase_amount'].values}, index=df['customer_id'])

             purchase_amount
customer_id
kim                      NaN
lee                      NaN
park                     NaN
song                     NaN
yoon                     NaN
kang                     NaN
tak                      NaN
ryu                      NaN
jang                     NaN

In [278]:
# column size 안맞아요.
pd.DataFrame({'purchase_amount': df['purchase_amount'].values}, index=df['customer_id'])

             purchase_amount
customer_id
kim                       30
lee                       10
park                       0
song                      40
yoon                      15
kang                      30
tak                        0
ryu                        0
jang                      10

In [1]:
df = pd.DataFrame({"customer_id":['kim','lee','park','song','yoon','kang','tak','ryu','jang'],
               "product_code":['com','phone','tv','com','phone','tv','com','phone','tv'],
               "grade":['A','A','A','A','A','A','B','B','B'],
               "purchase_amount":[30,10,0,40,15,30,0,0,10]})

NameError: name 'pd' is not defined

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame({"customer_id":['kim','lee','park','song','yoon','kang','tak','ryu','jang'],
               "product_code":['com','phone','tv','com','phone','tv','com','phone','tv'],
               "grade":['A','A','A','A','A','A','B','B','B'],
               "purchase_amount":[30,10,0,40,15,30,0,0,10]})

In [4]:
df

  customer_id product_code grade  purchase_amount
0         kim          com     A               30
1         lee        phone     A               10
2        park           tv     A                0
3        song          com     A               40
4        yoon        phone     A               15
5        kang           tv     A               30
6         tak          com     B                0
7         ryu        phone     B                0
8        jang           tv     B               10

In [5]:
df.pivot()

TypeError: pivot() missing 1 required argument: 'columns'

In [6]:
df.pivot('customer_id')

TypeError: pivot() missing 1 required argument: 'columns'

In [7]:
df.pivot(columns='customer_id')

            product_code                                               grade  \
customer_id         jang kang  kim    lee park    ryu song  tak   yoon  jang
0                    NaN  NaN  com    NaN  NaN    NaN  NaN  NaN    NaN   NaN
1                    NaN  NaN  NaN  phone  NaN    NaN  NaN  NaN    NaN   NaN
2                    NaN  NaN  NaN    NaN   tv    NaN  NaN  NaN    NaN   NaN
3                    NaN  NaN  NaN    NaN  NaN    NaN  com  NaN    NaN   NaN
4                    NaN  NaN  NaN    NaN  NaN    NaN  NaN  NaN  phone   NaN
5                    NaN   tv  NaN    NaN  NaN    NaN  NaN  NaN    NaN   NaN
6                    NaN  NaN  NaN    NaN  NaN    NaN  NaN  com    NaN   NaN
7                    NaN  NaN  NaN    NaN  NaN  phone  NaN  NaN    NaN   NaN
8                     tv  NaN  NaN    NaN  NaN    NaN  NaN  NaN    NaN     B

             ...      purchase_amount                                         \
customer_id  ... yoon            jang  kang   kim   lee park  ryu  song  tak
0            ...  NaN             NaN   NaN  30.0   NaN  NaN  NaN   NaN  NaN
1            ...  NaN             NaN   NaN   NaN  10.0  NaN  NaN   NaN  NaN
2            ...  NaN             NaN   NaN   NaN   NaN  0.0  NaN   NaN  NaN
3            ...  NaN             NaN   NaN   NaN   NaN  NaN  NaN  40.0  NaN
4            ...    A             NaN   NaN   NaN   NaN  NaN  NaN   NaN  NaN
5            ...  NaN             NaN  30.0   NaN   NaN  NaN  NaN   NaN  NaN
6            ...  NaN             NaN   NaN   NaN   NaN  NaN  NaN   NaN  0.0
7            ...  NaN             NaN   NaN   NaN   NaN  NaN  0.0   NaN  NaN
8            ...  NaN            10.0   NaN   NaN   NaN  NaN  NaN   NaN  NaN


customer_id  yoon
0             NaN
1             NaN
2             NaN
3             NaN
4            15.0
5             NaN
6             NaN
7             NaN
8             NaN

[9 rows x 27 columns]

In [8]:
df.pivot(columns='product_code')

             customer_id             grade            purchase_amount        \
product_code         com phone    tv   com phone   tv             com phone
0                    kim   NaN   NaN     A   NaN  NaN            30.0   NaN
1                    NaN   lee   NaN   NaN     A  NaN             NaN  10.0
2                    NaN   NaN  park   NaN   NaN    A             NaN   NaN
3                   song   NaN   NaN     A   NaN  NaN            40.0   NaN
4                    NaN  yoon   NaN   NaN     A  NaN             NaN  15.0
5                    NaN   NaN  kang   NaN   NaN    A             NaN   NaN
6                    tak   NaN   NaN     B   NaN  NaN             0.0   NaN
7                    NaN   ryu   NaN   NaN     B  NaN             NaN   0.0
8                    NaN   NaN  jang   NaN   NaN    B             NaN   NaN


product_code    tv
0              NaN
1              NaN
2              0.0
3              NaN
4              NaN
5             30.0
6              NaN
7              NaN
8             10.0

In [9]:
df.pivot(columns='grade')

      customer_id       product_code        purchase_amount
grade           A     B            A      B               A     B
0             kim   NaN          com    NaN            30.0   NaN
1             lee   NaN        phone    NaN            10.0   NaN
2            park   NaN           tv    NaN             0.0   NaN
3            song   NaN          com    NaN            40.0   NaN
4            yoon   NaN        phone    NaN            15.0   NaN
5            kang   NaN           tv    NaN            30.0   NaN
6             NaN   tak          NaN    com             NaN   0.0
7             NaN   ryu          NaN  phone             NaN   0.0
8             NaN  jang          NaN     tv             NaN  10.0

In [10]:
df.pivot(columns='purchase_amount')

                customer_id                         product_code         \
purchase_amount          0     10    15    30    40           0      10
0                       NaN   NaN   NaN   kim   NaN          NaN    NaN
1                       NaN   lee   NaN   NaN   NaN          NaN  phone
2                      park   NaN   NaN   NaN   NaN           tv    NaN
3                       NaN   NaN   NaN   NaN  song          NaN    NaN
4                       NaN   NaN  yoon   NaN   NaN          NaN    NaN
5                       NaN   NaN   NaN  kang   NaN          NaN    NaN
6                       tak   NaN   NaN   NaN   NaN          com    NaN
7                       ryu   NaN   NaN   NaN   NaN        phone    NaN
8                       NaN  jang   NaN   NaN   NaN          NaN     tv

                                 grade
purchase_amount     15   30   40    0    10   15   30   40
0                  NaN  com  NaN   NaN  NaN  NaN    A  NaN
1                  NaN  NaN  NaN   NaN    A  NaN  NaN  NaN
2                  NaN  NaN  NaN     A  NaN  NaN  NaN  NaN
3                  NaN  NaN  com   NaN  NaN  NaN  NaN    A
4                phone  NaN  NaN   NaN  NaN    A  NaN  NaN
5                  NaN   tv  NaN   NaN  NaN  NaN    A  NaN
6                  NaN  NaN  NaN     B  NaN  NaN  NaN  NaN
7                  NaN  NaN  NaN     B  NaN  NaN  NaN  NaN
8                  NaN  NaN  NaN   NaN    B  NaN  NaN  NaN

In [11]:
df.pivot(index=2)

TypeError: pivot() missing 1 required argument: 'columns'

In [12]:
df.pivot(index='customer_id', columns='product_code')

             grade            purchase_amount
product_code   com phone   tv             com phone    tv
customer_id
jang           NaN   NaN    B             NaN   NaN  10.0
kang           NaN   NaN    A             NaN   NaN  30.0
kim              A   NaN  NaN            30.0   NaN   NaN
lee            NaN     A  NaN             NaN  10.0   NaN
park           NaN   NaN    A             NaN   NaN   0.0
ryu            NaN     B  NaN             NaN   0.0   NaN
song             A   NaN  NaN            40.0   NaN   NaN
tak              B   NaN  NaN             0.0   NaN   NaN
yoon           NaN     A  NaN             NaN  15.0   NaN

In [13]:
df.pivot(index='customer_id', columns='product_code', values='purchase_amount')

product_code   com  phone    tv
customer_id
jang           NaN    NaN  10.0
kang           NaN    NaN  30.0
kim           30.0    NaN   NaN
lee            NaN   10.0   NaN
park           NaN    NaN   0.0
ryu            NaN    0.0   NaN
song          40.0    NaN   NaN
tak            0.0    NaN   NaN
yoon           NaN   15.0   NaN

In [14]:
df_trial = pd.DataFrame({"customer_id":['kim', 'kim','lee', 'lee','park','song','yoon','kang','tak','ryu','jang'],
               "product_code":['com', 'phone','phone', 'tv','tv','com','phone','tv','com','phone','tv'],
               "grade":['A', 'A', 'A','A','A','A','A','A','B','B','B'],
               "purchase_amount":[30, 20,10, 15, 0,40,15,30,0,0,10]})

In [15]:
df_trial

   customer_id product_code grade  purchase_amount
0          kim          com     A               30
1          kim        phone     A               20
2          lee        phone     A               10
3          lee           tv     A               15
4         park           tv     A                0
5         song          com     A               40
6         yoon        phone     A               15
7         kang           tv     A               30
8          tak          com     B                0
9          ryu        phone     B                0
10        jang           tv     B               10

In [16]:
df_trial.pivot(index='customer_id', columns='product_code', values='purchase_amount')

product_code   com  phone    tv
customer_id
jang           NaN    NaN  10.0
kang           NaN    NaN  30.0
kim           30.0   20.0   NaN
lee            NaN   10.0  15.0
park           NaN    NaN   0.0
ryu            NaN    0.0   NaN
song          40.0    NaN   NaN
tak            0.0    NaN   NaN
yoon           NaN   15.0   NaN

In [17]:
df

  customer_id product_code grade  purchase_amount
0         kim          com     A               30
1         lee        phone     A               10
2        park           tv     A                0
3        song          com     A               40
4        yoon        phone     A               15
5        kang           tv     A               30
6         tak          com     B                0
7         ryu        phone     B                0
8        jang           tv     B               10

In [18]:
df.pivot(index='customer_id', columns='product_code', values='purchase_amount')

product_code   com  phone    tv
customer_id
jang           NaN    NaN  10.0
kang           NaN    NaN  30.0
kim           30.0    NaN   NaN
lee            NaN   10.0   NaN
park           NaN    NaN   0.0
ryu            NaN    0.0   NaN
song          40.0    NaN   NaN
tak            0.0    NaN   NaN
yoon           NaN   15.0   NaN

In [19]:
# 26. 객체의 각 행에 대해 세번째 NaN 값이 들어 있는 열을 찾으시오. 일련의 열 레이블을 반환해야 합니다.
# 답은 e, c, d, h, d 입니다.
nan = np.nan
data = [[0.04,  nan,  nan, 0.25,  nan, 0.43, 0.71, 0.51,  nan,  nan],
        [ nan,  nan,  nan, 0.04, 0.76,  nan,  nan, 0.67, 0.76, 0.16],
        [ nan,  nan, 0.5 ,  nan, 0.31, 0.4 ,  nan,  nan, 0.24, 0.01],
        [0.49,  nan,  nan, 0.62, 0.73, 0.26, 0.85,  nan,  nan,  nan],
        [ nan,  nan, 0.41,  nan, 0.05,  nan, 0.61,  nan, 0.48, 0.68]]
columns = list('abcdefghij')
df = pd.DataFrame(data, columns=columns)

In [20]:
pd.Series(df.iloc[0])

a    0.04
b     NaN
c     NaN
d    0.25
e     NaN
f    0.43
g    0.71
h    0.51
i     NaN
j     NaN
Name: 0, dtype: float64

In [21]:
practc = pd.Series(df.iloc[0])

In [22]:
practc['a']

0.04

In [23]:
cnt = 0
for i in list('abcdefghij'):
    print(i)

a
b
c
d
e
f
g
h
i
j

In [26]:
where_is_nan = ''
for i in list('abcdefghij'):
    if practc[i] == nan:
        cnt += 1
        print(i)
        print(cnt)
    if cnt == 3:
        where_is_nan = i
        break

In [27]:
where_is_nan

''

In [29]:
where_is_nan = ''
for i in list('abcdefghij'):
    print(practc[i])
    print(i)
    print(cnt)
    if practc[i] == nan:
        cnt += 1
        print(i)
        print(cnt)
    if cnt == 3:
        where_is_nan = i
        break

0.04
a
0
nan
b
0
nan
c
0
0.25
d
0
nan
e
0
0.43
f
0
0.71
g
0
0.51
h
0
nan
i
0
nan
j
0

In [30]:
where_is_nan = ''
for i in list('abcdefghij'):
    print(practc[i])
    print(i)
    print(cnt)
    if practc[i] == np.nan:
        cnt += 1
        print(i)
        print(cnt)
    if cnt == 3:
        where_is_nan = i
        break

0.04
a
0
nan
b
0
nan
c
0
0.25
d
0
nan
e
0
0.43
f
0
0.71
g
0
0.51
h
0
nan
i
0
nan
j
0